.music-banner
	.music-banner-icon
	.music-banner-title-container.subscription
		.music-banner-title Lyrics
.lyrics-container
	#chime-loading Loading...
	#chime-error No lyrics found.
	#chime-lyrics
	#chime-source
		| Source can be found at #{''}
		a#chime-source-link(target='_blank')
		| .
