.text-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

for i in 1..10
	.flex-{i} {
		flex: i;
	}

.flex {
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.flex-vertical {
	flex-direction: column;
	width: 100%;
}

.flex-center {
	align-items: center;
}