core-drawer-panel core-image#material-hero-image,
paper-drawer-panel iron-image#material-hero-image {
	display: none !important;
}

html .material-detail-view .has-hero-image {
	margin-top: 40px !important;
}