#lyrics-container {
	display: none;

	position: absolute;
	top: 120px;
	right: 0;
	z-index: 100;

	padding: 10px;
	box-shadow: -1px 0 10px rgba(0, 0, 0, .5);
	max-height: calc(100% - 200px);

	background-color: #fff;

	core-toolbar {
		background-color: #ef6c00;
	}

	width: 300px;
	margin: 0;

	flex-direction: column;

	&.visible {
		display: flex;
	}

	.music-banner-title {
		margin-bottom: 10px;
		text-align: center;
	}

	.music-banner {
		width: 100%;
	}

	.lyrics-container {
		overflow: auto;
		flex: 1;

		> div {
			display: none;

			&.visible {
				display: block;
			}
		}
	}

	.subscription .music-banner-title {
		margin-top: 12px;
	}
}

#chime-lyrics {
	margin: 10px 20px;
}

#chime-loading {
	margin: 20px 0;
}

#chime-source {
	margin: 10px 0;
	text-align: center;
}

#chime-loading,
#chime-error {
	text-align: center;
	margin: 20px 0;
}
