iron-selector.paper-drawer-panel {
	&.chime-lyrics-visible > #main.paper-drawer-panel {
		right: 340px;
	}
}

#lyrics-container {
	display: none;

	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;

	padding: 0;
	box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
	height: calc(100% - 90px);

	background-color: #fff;

	core-toolbar {
		background-color: #ef6c00;
	}

	width: 340px;
	margin: 0;

	flex-direction: column;

	&.visible {
		display: flex;
	}

	.music-banner-title {
		margin: 0;
		height: 64px;
		line-height: 64px;
		text-align: center;

		&::after {
			content: ' ';
			position: absolute;
			top: 64px;
			left: 0;

			width: 100%;
			height: 6px;

			box-shadow: inset 0 5px 6px -3px rgba(0, 0, 0, .4);

			transition: opacity 500ms;

			opacity: 0;
		}
	}

	&.shadowed {
		.music-banner-title::after {
			opacity: 1;
		}
	}

	.music-banner {
		width: 100%;
	}

	.lyrics-container {
		overflow: auto;
		flex: 1;

		> div {
			display: none;

			&.visible {
				display: block;
			}
		}
	}

	.subscription .music-banner-title {
		margin-top: 12px;
	}
}

#chime-lyrics {
	margin: 10px 20px;
}

#chime-loading {
	margin: 20px 0;
}

#chime-source {
	margin: 10px 0;
	text-align: center;
}

#chime-loading,
#chime-error {
	text-align: center;
	margin: 20px 0;
}
