abbr {
	border-bottom: 1px dotted black;
}

.image {
	position: relative;

	img {
		display: none;
	}

	abbr:hover {
		cursor: pointer;
	}

	abbr:hover + img {
		display: inline-block;
		position: absolute;
		top: calc(100% + 10px);
		left: 0;
		z-index: 2;
		max-width: 300px;
		background: #eee;
		border: 3px solid #eee;
		border-radius: 5px;
		padding: 5px;
		box-sizing: border-box;
		box-shadow: -1px 1px 10px #000;
	}
}

#last-fm-details {
	margin: 0 20px;

	&.details {

	}
}

#last-fm-subdetails {
	font-size: 14px;
	color: #ccc;

	span {
		display: inline-block;
		margin: 0 10px;

		&:first-child {
			margin-left: 0;
		}
	}
}

#last-fm-user-name {
	font-weight: bold;
	font-size: 16px;
}

#last-fm-user-image {
	width: 64px;
}

label.form-control-static {
	margin: 5px 0 0;
	display: inline-block;
	cursor: pointer;

	input {
		margin-right: 10px !important;
	}
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .3);
	z-index: 10;
	display: flex;
	align-items: center;
	flex-flow: vertical-align;

	.message {
		text-align: center;
		width: 100%;
		font-size: 30px;
		text-shadow: 0 0 1px #fff;
	}
}

.hidden {
	display: none !important;
}

.chrome-bootstrap .frame .mainview > .selected {
	height: 100%;

	.content {
		min-height: calc(100% - 55px);
	}
}