html, body {
	height: 100%;
}

body {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.glyphicon.disabled {
	opacity: .8;
}

.text-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

for i in 1..10
	.flex-{i} {
		flex: i;
	}

.flex {
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.flex-vertical {
	flex-direction: column;
	width: 100%;
}

.flex-center {
	align-items: center;
}

/******/

#track {
	margin: 5px 10px 0;
	flex: 1;
}

#widget {
	padding: 0 10px;
}

#controls {
	margin: 0;
	padding: 10px;
}

#controls-buttons {
	justify-content: space-around start;
	width: 100%;
}

#range-control {
	width: 100%;
}

#length-screen {
	text-align: center;
	padding: 0 10px;
}

#track-cover {
	width: 64px;
	height: 64px;

	&.clickable {
		cursor: pointer;
	}
}

@media (max-height: 160px) {
	#widget {
		display: none;
	}
}