#player {
	display: flex;
}

#player-left-wrapper,
#player-right-wrapper {
	margin: 0;
	flex: 1;
}

#player-scrobbling-status {
	padding: 5px;
	width: auto;
	background: rgba(128, 127, 127, 0.54);
}

#last-fm-details {
	font-size: 10px;
	color: #fff;
	width: 100%;
	justify-content: space-between;
	text-align: center;
	text-shadow: 0 0 1px #000;
}

#last-fm-user-name {
	font-weight: bold;
	font-size: 12px;
}

#last-fm-user-image {
	width: 32px;
	height: 32px;
}

#last-fm-logo {
	width: 20px;
	height: 20px;
}