/* search box */
#gbqfw {
	opacity: 0.2;
	display: inline-block;
	margin: 8px 10px 0;

	&:hover, &:focus {
		opacity: 1;
	}

	.gbqfqw:active,
	.gbqfqwf {
		border: 0;
	}

	#gbqfbw {
		-webkit-filter: grayscale();
	}

	#gbqfaa, #gbqfab, #gbqfqwb {
		position: static;
	}

	#gbqfq {
	}
}
