$color = #212121
$anti-color = #fff

html {
	body.material {
		background-color: $color;
		color: #fff;
	}

	.material a {
		color: $anti-color;
	}

	#doc {
		height: 100% !important;
	}

	#current-loading-progress {
		background: $color;
	}

	#nav,
	.material .nav-toolbar {
		background: $color;
	}

	.settings-card,
	.material-card {
		background-color: $color;

		&[data-size="small"][data-type="imfl"] .title {
			color: $anti-color;
		}

		.music-source-empty-message,
		.title {
			color: $anti-color;
		}
	}

	/* song table */
	.material-album-container {
		background-color: $color;
	}

	.material .song-table {
		&.mini, & {
			[data-col="song-details"] .song-title,
			[data-col="title"],
			th, a {
				color: $anti-color;
			}

			.song-row:hover, .selected-song-row {
				[data-col="song-details"] .song-title,
				[data-col="title"],
				th, a {
					color: $color;
				}
			}
		}
	}

	.cluster.material-cluster .header h2.title {
		color: $anti-color;
	}

	.material-playlist-container {
		background-color: $color;
	}

	.material-detail-view {
		.station-container-content-wrapper .material-container-details,
		.top-tracks,
		.artist-details {
			background-color: $color;

			.bio-wrapper .bio {
				color: $anti-color;
			}
		}

		.material-container-details .info .description {
			color: $anti-color;
		}
	}

	.material {
		.songlist-container {
			background: transparent;
		}

		.song-row {
			.text {
				color: $anti-color;
			}

			.song-indicator,
			.title-right-items,
			.content,
			.song-indicator[data-playback-status="paused"],
			.song-indicator[data-playback-status="loading"],
			[data-col="index"] .hover-button[data-id="play"],
			[data-col="track"] .hover-button[data-id="play"],
			td {
				background-color: $color;
				color: $anti-color;
			}

			&:hover, &.selected-song-row {
				.song-indicator,
				.title-right-items,
				.content,
				.column-content,
				.text,
				.song-indicator[data-playback-status="paused"],
				.song-indicator[data-playback-status="loading"],
				[data-col="index"] .hover-button[data-id="play"],
				[data-col="track"] .hover-button[data-id="play"],
				td {
					color: $color;
					background-color: #eee !important;
				}
			}
		}

		.upload-progress-row td {
			background-color: $color;
			color: $anti-color;
		}
	}

	/* ---- */

	#loading-overlay.material[data-type="full-loading-overlay"], #loading-overlay.material[data-type="regular-loading-overlay"],
	.core-overlay-backdrop.core-opened {
		background-color: $color;
		opacity: .25;
	}

	.material .nav-item-container {
		color: $anti-color;
	}

	#nav_collections .nav-item-container:focus, .nav-item-container:focus, .nav-item-container:hover {
		color: $color;
	}

	.song-row.selected-song-row .fade-out::after {
		background: linear-gradient(to right,rgba(245,245,245,0),#eee);
	}

	.song-row .fade-out::after,
	.fade-out::after,
	.material .fade-out.gray::after {
		background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(33, 33, 33, 1))
	}

	.material .nav-item-container:focus .fade-out::after, .material .nav-item-container:hover .fade-out::after, .material .nav-item-container.selected .fade-out::after {
		background: linear-gradient(to right, rgba(240, 240, 240, 0), rgba(240, 240, 240, 1));
	}

	#player.material {
		background-color: $color;
		color: $anti-color;
	}

	/* rating bar near player controls */
	#player.material .now-playing-actions sj-icon-button, #player.material .now-playing-actions paper-icon-button {
		color: $anti-color;
	}
	#player.material .player-rating-container {
		background-color: $color;
	}
	/* ---- */

	/* player controls */
	#material-app-bar {
		background-color: $color;
		color: $anti-color;
	}
	/* ---- */

	/* queue overlay */
	#queue-overlay {
		background-color: $color;

		&::after {
			border-color: transparent transparent $color $color;
		}
	}
	/* ---- */

	.material .cluster-text-protection {
		&, &::before {
			background-color: $color;
		}
	}

	/* lyrics extension */
	#lyrics-container {
		background-color: $color;

		core-toolbar {
			background-color: $color;
		}
	}

	.material .nav-section-divider {
		border-bottom: 1px solid #000;
	}

	paper-dialog /deep/ #scroller {
    background-color: $color;
    color: $anti-color;
	}
}

::selection {
	background: rgba(0, 0, 0, .4);
	color: $anti-color;
}

