$color = #212121

html {
	#doc {
		height: 100% !important;
	}

	#current-loading-progress {
		background: $color;
	}

	#nav,
	.material .nav-toolbar {
		background: $color;
	}

	.material .nav-item-container {
		color: #ff;
	}

	#nav_collections .nav-item-container:focus, .nav-item-container:focus, .nav-item-container:hover {
		color: #212121;
	}

	#nav .material .nav-item-container .fade-out::after, .material .nav-item-container .fade-out::after, .material .nav-item-container .fade-out::after {
		background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(33, 33, 33, 1))
	}

	#nav .material .nav-item-container:focus .fade-out::after, .material .nav-item-container:hover .fade-out::after, .material .nav-item-container.selected .fade-out::after {
		background: linear-gradient(to right,rgba(240,240,240,0),rgba(240,240,240,1));
	}
}

::selection {
	background: rgba(0, 0, 0, .4);
	color: $color;
}

