doctype html
html
	body
		iframe#sandbox(src='/pages/sandbox.html')
		script(src='../vendor/babel-polyfill/browser-polyfill.js')
		script(src='../js/misc/utils.raw.js')
		script(data-main='../js/background/main.raw.js', src='../vendor/requirejs/require.js')
