doctype html
html
head
	title Chime Options
	link(rel='stylesheet', type='text/css', href='../styles/chrome.css')
	link(rel='stylesheet', type='text/css', href='../styles/options.css')
	body.chrome-bootstrap
		.frame
			.navigation
				h1
					a(href='') Chime
				ul.menu
					li.selected
						a(href='#features') Features
					li
						a(href='#help') Help
			form#form.form-horizontal
				.mainview.view
					#features.selected
						header
							h1 Features
						.content
							section
								h3 Enable last.fm scrobbling:
								article
									label.form-control-static
										input#input-last_fm(type='checkbox', name='scrobbling_enabled')
										| scrobbling
									br
									label.form-control-static
										input#input-last_fm_now_playing(type='checkbox', name='scrobbling_now_playing')
										| now playing update
									br
									label.form-control-static
										input#input-last_fm_notify(type='checkbox', name='scrobbling_notify')
										| notify when scrobbled
								article#last-fm-profile(hidden='hidden')
									h4#last-fm-user-name
									img#last-fm-user-image(src='about:blank')
									p
										button#last-fm-disconnect(type='button') Disconnect
								article#last-fm-not-connected
									p
										button#last-fm-connect(type='button') Connect
							section
								h3
									| Enable lyrics fetching:
									sup beta
								article
									label.form-control-static
										input#input-lyrics_enabled(type='checkbox', name='lyrics_enabled')
										| enables lyrics fetching in web player (look for orange button in web player's toolbox)
							section
								h3 Enable playing notifications on:
								article
									label.form-control-static
										input(type='checkbox', name='notify_resumed')
										| track resume
									br
									label.form-control-static
										input(type='checkbox', name='notify_playing')
										| track start
									br
									label.form-control-static
										input(type='checkbox', name='notify_paused')
										| track pause
									br
									label.form-control-static
										input(type='checkbox', name='notify_stopped')
										| track finish
									br
									label.form-control-static
										input(type='checkbox', name='notify_finished')
										| playlist finish
					#help
						header
							h1 Help
						.content
							section
								h3 Debug:
								article
									label.form-control-static
										input(type='checkbox', name='debug')
										| enable log outputs in console
									br
									p
										button#debug-reset(type='button') Reset settings to defaults
	script(src='../js/misc/utils.js')
	script(data-main='../js/options/main.js', src='../vendor/requirejs/require.js')
