doctype html
html
	head
		title Chime Options
		link(rel='stylesheet', type='text/css', href='../styles/chrome.css')
		link(rel='stylesheet', type='text/css', href='../styles/flexible.css')
		link(rel='stylesheet', type='text/css', href='../styles/options.css')
		script(src='../vendor/babel-polyfill/browser-polyfill.js')
		script(src='../vendor/system.js/dist/system-csp-production.js')
		script(src='../js/config.js')
		script(src='../js/options.js')
	body.chrome-bootstrap

