doctype html
html
	head
		title Chime Options
		link(rel='stylesheet', type='text/css', href='../styles/chrome.css')
		link(rel='stylesheet', type='text/css', href='../styles/flexible.css')
		link(rel='stylesheet', type='text/css', href='../styles/options.css')
		script(src='../js/misc/utils.js')
		script(data-main='../js/options/main.js', src='../vendor/requirejs/require.js')
	body.chrome-bootstrap

