if !providers.length
	li= i18n('templates_options_lyrics_no_providers')
each provider in providers
	li
		a(href='#')
			dl
				dt #{provider[0]}
				dd #{provider[1]}
		a.delete(data-host=provider[0])= i18n('misc_l_delete')
