.chime-flex.chime-flex-center
	img#last-fm-user-image(src=user.image[1]['#text'] || '/images/default_user.png')
	.chime-flex-1.chime-flex.chime-flex-vertical#last-fm-details
		a#last-fm-user-name(target='_blank', href=user.url)= user.name
		#last-fm-subdetails
			if user.realname
				span= user.realname
			span= i18n('templates_options_scrobbling_play_count', user.playcount)
