section
	h3
		| Lyrics:
	article
		label.form-control-static
			input(type='checkbox', name='lyrics_enabled')
			| enables lyrics fetching
	article
		h4 Lyrics providers
		.row
			ul#lyrics-providers.highlightable.editable
	article
		button.open-modal(data-id='lyrics-provider', type='button') Add lyrics provider
		span &nbsp;
		button#lyrics-clear-permissions(type='button') Clear permissions

		div#lyrics-provider.overlay.hidden
			div.page
				h1 Add lyrics provider
				div.close-button.close
				div.content-area
					.row
						span function &nbsp;
						input(type='text', id='lyrics-host', placeholder='hostname')
						span &nbsp; (response) {
					.row
						span /* should return string */ &nbsp;
						input(type='text', id='lyrics-body', placeholder='return response.extractText();', size=30)
					.row
						span }
				div.action-area
					div.action-area-right
						div.button-strip
							button#lyrics-button-add(type='button') Add
							button.close(type='button') Close


