section
	h3
		= i18n('includes_options_modifications_header')
	article
		.alert.row
			= i18n('includes_options_modifications_descr')
	article
		label.form-control-static
			input(type='checkbox', name='hero_hidden')
			| #{i18n('includes_options_modifications_hero_hidden')}

