section
	h3 Enable playing notifications:
	article
		.alert.row
			| Regular&nbsp;
			span.image
				abbr chrome notifaction.
				image(src='/images/notifications.png')
	article
		label.form-control-static
			input(type='checkbox', name='notify_enabled')
			| enable notifications
		br
		label.form-control-static
			input(type='checkbox', name='notify_resumed')
			| track resume
		br
		label.form-control-static
			input(type='checkbox', name='notify_playing')
			| track start
		br
		label.form-control-static
			input(type='checkbox', name='notify_paused')
			| track pause
		br
		label.form-control-static
			input(type='checkbox', name='notify_seeking')
			| track seeking
		br
		label.form-control-static
			input(type='checkbox', name='notify_stopped')
			| track finish
		br
		label.form-control-static
			input(type='checkbox', name='notify_finished')
			| playlist finish
		br
		label.form-control-static
			input(type='number', min=1000, max=10000, step=100, name='notify_timeout')
			| notification timeout (ms)
