section
	h3 Enable external player override:
	article
		label.form-control-static
			input(type='checkbox', name='player_enabled')
			| enable player
		br
		label.form-control-static
			h4 album cover click action
			select(name='player_album_art_action')
				option(value='nothing') do nothing
				option(value='close') close popup
				option(value='navigate') close popup and navigate to music tab


