section
	h3 Enable last.fm scrobbling:
	article#last-fm-loading.flex
		h5.flex-1 Loading..
	article#last-fm-profile.hidden
		#last-fm-account
		.row
			label.form-control-static
				input#input-last_fm(type='checkbox', name='scrobbling_enabled')
				| scrobbling
		.row
			label.form-control-static
				input#input-last_fm_now_playing(type='checkbox', name='scrobbling_now_playing')
				| now playing update
		.row
			label.form-control-static
				input(type='number', min='0.5', max='1', step='0.01', name='scrobbling_min_percent')
				| minimum scrobbling percent

		p
			button#last-fm-disconnect(type='button') Disconnect
	article#last-fm-not-connected.hidden
		p
			button#last-fm-connect(type='button') Connect
