section
	h3
		| Theme:
	article
		.alert.row
			| In this theme top bar is removed and search field is placed instead of Google Music logo, most of the orange would be black.
	article
		label.form-control-static
			input(type='checkbox', name='theme_enabled')
			| enable&nbsp;
			span.image
				abbr black theme
				img(src='/images/theme.png')
			| &nbsp;(requires refresh of music tab to apply)

